@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --body-font-family: 'Montserrat', sans-serif;
  --title-font-family: 'Montserrat', sans-serif;
}
