:root {
  /* Palette */
  --neutral-color-900: #212121;
  --neutral-color-800: #424242;
  --neutral-color-700: #616161;
  --neutral-color-600: #757575;
  --neutral-color-500: #9e9e9e;
  --neutral-color-400: #bdbdbd;
  --neutral-color-300: #e0e0e0;
  --neutral-color-200: #eeeeee;
  --neutral-color-100: #f5f5f5;

  --background-color: #ffffff;
  --on-background-color: #000000;
  --dark-grey: var(--neutral-color-700);
  --light-grey: var(--neutral-color-300);
  --primary-color: #e91e63;

  --border-radius: 4px;
}

* {
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 24px;
  margin-bottom: 24px;
  height: 8dvh;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.section {
  margin-bottom: 10dvh;
  padding: 24px;
  max-width: 1200px;
  align-self: center;
}

.section .title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 32px;
}

.section .title .strong {
  font-size: calc(32px + 16px);
}

.link {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--dark-grey);
  border-radius: var(--border-radius);
  text-decoration: none;
  color: inherit;
  transition: 200ms ease;
}

.link:hover {
  opacity: 0.6;
}

.strong {
  font-weight: 600;
}

.primary {
  color: var(--primary-color);
}

.code {
  padding: 8px 16px;
  background: var(--light-grey);
  border-radius: var(--border-radius);
}

.section.hero {
  min-height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.hero .title {
  font-size: 42px;
}

.section.hero .description {
  margin-bottom: 48px;
  color: var(--dark-grey);
}

.section.hero .links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.powered-by {
  margin-top: 48px;
  font-weight: 600;
}

.section.how-to-start .steps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section.how-to-start .step {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section.whats-in {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section.whats-in .content {
  flex: 1;
  display: flex;
  gap: 48px;
}

.section.whats-in .items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.section.whats-in .items .item {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms ease;
}

.section.whats-in .items .item:hover {
  font-weight: 600;
}

.section.whats-in .items .item.selected {
  font-weight: 600;
}

.section.whats-in .content .description .item {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--dark-grey);
}

.section.whats-in .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.item-description {
  color: var(--dark-grey);
}

@media (max-width: 600px) {
  .section {
    justify-content: center;
    align-items: center;
  }
  .section > .title,
  .section > .description {
    text-align: center;
  }
  .section.hero .links {
    flex-direction: column;
    justify-content: center;
  }

  .section.hero .links .link {
    width: 100%;
  }

  .section.whats-in .content {
    gap: 24px;
  }
}
